/*Index.html*/
#tela_menu{
    padding: 50px;
}
#titulo{
    font-family: 'Lobster';
    font-size:40px;
    margin-top: -43px;
}
#tela_parede{
    background-image:url('../img/shopping.jpg');
    background-size: 500px;
    background-repeat:no-repeat;
    margin-top: 100px;
    
}
#button_produto{
    padding-block: 20px;
}
.buttons-group.full button {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    margin-top: 500px;
}
#inserir{
    font-size: 20px;
}
img{
    filter: grayscale(87%);
}